.quote-text{
    /* left: 295px;
    top: 1613px; */

    font-family: 'Hanuman';
    font-style: normal;
    font-weight: 700;
    font-size: 1.8rem;
    text-align: center;
    color: #000000;
}



.quote-holder{
    background-color: white;
    margin-left:10rem;
    margin-right:10rem;
    margin-top:5rem;
    margin-bottom:5rem;
}

.quote-subtext{
    /* -Bhagwat Geeta. Chapter and line */

    font-family: 'Hanuman';
    font-style: italic;
    font-weight: 700;
    font-size: 21px;
    text-align: right;
    color: #000000;
}

.menu-holder{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.source{
    margin-top:3rem;
    font-family: 'Hanuman';
    font-style: italic;
    font-weight: 700;
    font-size: 1.2rem;
    text-align: right;
    letter-spacing: 0.05rem;
    color: #000000;
}




@media (min-width: 2400px) {
    .quote-text{
        font-size: 2rem;
    }

    .source{
        font-size: 1.5rem;
    }


}

@media (max-width:900px) {
    .quote-holder{
        margin-top: 1rem;
        margin-left:1rem;
        margin-right:1rem;
    }

    .source{
        margin-left:1rem;
        margin-right:1rem;
    }

    .quote-text{
        font-size: 1.   ;
        margin-left:0rem;
        margin-right:0rem;
    }
}

@media (max-width:400px) {
    .quote-holder{
        margin-top: 1rem;
        margin-left:1rem;
        margin-right:1rem;
    }

    .source{
        margin-left:1rem;
        margin-right:1rem;
        font-size: 0.8rem;
        line-height: normal;
    }

    .quote-text{
        font-size: 0.9rem ;
        margin-left:0rem;
        margin-right:0rem;
    }
}