.wave-holder{
    background-image: url('./Images/Draft2/Footer\ 1.png');
    height:100vh;
    background-size:cover;
    display: flex;
    align-items:center;
    justify-content: flex-end;
    padding-top:40px;
    padding-bottom: 40px;
}


.text-holder{
    color:black;
    background-color:black;
    opacity: 0.5;
    width:40%;  
    border-radius: 1.5rem;
    display: flex;
    align-items: left;
    flex-direction: column;
    padding-left:4rem;
    padding-top:4rem;
    padding-right:4rem;
    padding-bottom:4rem;
    color:white;
}


@media (max-width: 930px) {
    .text-holder{
        width:80%;
    }
}
